* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'AbhayaLibre';
    src: url(fonts\Abhaya_Libre\AbhayaLibre-Regular.ttf);
}
html{
    display: flex;
    justify-content: center;
    font-family: 'AbhayaLibre';
}
body {
    width: 80%;
}
header {
    text-align: center;
    margin-top: 7.5vh;
    cursor: default;
}
h1 {
    font-weight: normal;
}
nav {
    display: grid;
<<<<<<< HEAD
    width: 79vw;
=======
>>>>>>> parent of a605935 (centered)
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 75px;
    margin-bottom: 100px;
    margin-inline: 15px;
}   
a:hover{
    background-color: aliceblue;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding-block: 7.5px;;
    list-style-type: none;
}

a:nth-child(1){
    background-color: #c9f1fd;
}
.gallery {
    display: grid;
<<<<<<< HEAD
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5%;
=======
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    row-gap: 30px;
>>>>>>> parent of a605935 (centered)
    padding-bottom: 60px;
    overflow: hidden;
}
img {
    height: 40vh;
    width: 25vw;
}
img:nth-child(1), img:nth-child(4){
    justify-self: start;
}
img:nth-child(3), img:nth-child(6){
    justify-self: end;
}
img:nth-child(4){
    height: 48vh;
    width: 21vw;
}
img:nth-child(5){
<<<<<<< HEAD
    width: 29vw;
    margin-left: -15%;
=======
    height: 425px;
    width: 550px;
    margin-left: -75px;
}
@media only screen and (max-width: 1300px){
    .gallery {
        grid-template-columns: 1fr;
    }
>>>>>>> parent of a605935 (centered)
}
