* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Abhaya Libre', serif;
}
header {
    text-align: center;
    margin-top: 7.5vh;
    cursor: default;
}
h1 {
    font-weight: normal;
}
nav {
    display: grid;
    width: 938px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 75px;
    margin-bottom: 100px;
    margin-inline: auto;
}

a:hover{
    background-color: aliceblue;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding-block: 7.5px;;
    list-style-type: none;
}

a:nth-child(2){
    background-color: #c9f1fd;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}
.painting_container{
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
}
.painting_container img{
    width: 40vw;
    height: 32vw;
    display: block;
}
.painting_container p{
    color: rgb(87, 87, 87);
    margin-top: 0;
    font-size: 1.5vw;
    margin-bottom: 6%;
}
.waves-text{
    padding-left: 4%;
    line-height: 1.4vw;
}
.mirror {
    margin-top: 3%;
}
.mirror img{
    padding-left: 10%;
}
.mirror-text{
    padding-top: 4%;
    padding-right: 4%;
    line-height: 2vw;
}
